:root {
    --main-color: #1a4e8d;
    --secondry-color: #a8caff;
}


* {
    margin: 0;
    padding: 0;
}

/* start header div*/
section.header {
    height: 100vh;
    width: 100%;
    background-image: url(image/banner.png);
    background-size: cover;
    position: relative;
    background-color: var(--secondry-color);

}

nav {
    padding: 2% 6%;
    display: flex;
    align-items: center;

}

.nav-links {
    text-align: right;
    flex: 1;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    font-size: 20px;

}

.nav-links ul li a {
    color: var(--main-color);
    text-decoration: none;

}

.nav-links ul li:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: #fff;
    border-radius: 25px;
    width: 7%;
    text-align: center;
}

.nav-links ul li a:hover {
    color: #fff;
}

.text-box {
    top: 20%;
    padding-left: 50px;
    position: absolute;

    color: var(--main-color);

}

.text-box h1 {
    font-size: 100px;
    font-weight: bolder;
    letter-spacing: -.04em;
    line-height: .8;

}

.text-box p {
    font-size: 30px;
    margin: 10px 0 40px;
}

/* end header div*/
/* start second div */
.ccc {
    text-align: center;
    color: var(--main-color);
    margin: 50px;
}

.ccc h2 {

    font-size: 70px;
    margin-bottom: 50px;

}

.ccc p {
    display: inline-block;
    margin-left: 30px;
    font-size: 20px;
}

.ccc input {
    background-color: var(--main-color);
    color: #fff;
    width: 200px;
    border-radius: 20px;
    height: 50px;
    margin: 50px;
    font-size: 15px;
    border: 1xp solid var(--main-color);
}

.ccc input:hover {
    background-color: #0f2d52;
}

.ccc img {
    transition: 0.3s;
    border-radius: 20px;
}

.ccc img:hover {
    padding-left: 5px;
    opacity: 0.6;
}

/* end second div */

/* start client div */
.client {
    text-align: center;
    color: var(--main-color);
    background-color: var(--secondry-color);
}

.client h2 {

    font-size: 70px;
    margin-bottom: 50px;
}

.client div {
    background-color: #fff;
    text-align: left;
    width: 25%;
    margin: 50px;
    border-radius: 20px;
    display: inline-block;
    transition: .5s;

}

.client div:hover {
    opacity: .7;
    padding-left: 5px;
}

.client img {
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.client p {
    font-size: 25px;
    padding: 30px;
}

.client h3 {
    margin: 40px;
    padding-bottom: 20px;
    font-size: 20px;

}

/* end client div */
/* Start Section customer */
.customer {
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
}

.customer h2 {
    font-size: 70px;
    margin-bottom: 30px;
    padding-top: 50PX;
}

.customer input {
    background-color: #fff;
    color: var(--main-color);
    width: 100px;
    border-radius: 20px;
    height: 40px;
    margin: 50px;
    font-size: 15px;
    border: solid #fff;

}

.customer input:hover {
    background-color: var(--secondry-color);
    border: solid var(--secondry-color);
}

.customer img {
    height: 200px;
    padding-left: 10px;
    transition: .5s;
}

.customer img:hover {
    opacity: .5;
    padding-left: 5px;
}

.customer .three {
    transition: width 2s, height 2s, transform 2s;

}

.customer .three:hover {
    transform: rotate(360deg);

}

/* End Section customer */
/*start footer */
footer {
    color: var(--main-color);
    text-align: center;

}

.footer div {
    text-align: left;
    width: 25%;
    margin: 50px;
    display: inline-block;
}

.footer h2 {
    font-size: 40px;
}

.footer p {
    line-height: 30px;
    font-size: 15px;
}

/*end footer */
.end {
    color: var(--main-color);
    text-align: center;
}

.end p {
    text-align: center;
    margin: 30px;
}

/*end home page*/
/* start service page */
section.Header {
    background-color: var(--secondry-color);
    text-align: center;
    color: var(--main-color);
}

section.Header p {
    font-size: 30px;
}

section.Header h1 {
    font-size: 70px;
    margin: 20px;
}

.div1,
.div2,
.div3,
.div4,
.div5,
.div6,
.div7,
.div8 {
    width: 80%;
    background-color: #fff;
    display: inline-block;
    margin-top: 10px;
}

section h2 {
    display: inline-block;

    float: left;
    margin: 40px;

}

section p {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-top: 40px;

}

section.Header input {
    display: inline-block;
    float: right;
    margin: 40px;
    width: 100px;
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    height: 30px;
    border-radius: 20px;
    color: #fff;
}

/* end sercive page*/
/* start about page */
.about {
    background-color: var(--secondry-color);
}

.about .p {
    padding-left: 50px;
    font-size: 30px;
    color: var(--main-color);
}

.about h1 {
    padding-left: 50px;
    padding-top: 20px;
    font-size: 80px;
    line-height: 80px;
    color: var(--main-color);
}

.text {
    display: inline-block;
    width: 50%;
    margin: 50px;
}

.text h4 {
    font-size: 30px;
    color: var(--main-color);
}

.text p {
    color: var(--main-color);
    text-align: left;
    font-size: 20px;
}

.pphoto {
    display: inline-block;
    margin-top: 50px;
    width: 20%;
}
.meet {
    background-color: var(--main-color);
    text-align: center;
}
.meet h1 {
    color: #fff;
    font-size: 70px;
    padding-top: 70px;
}
.meet div {
    display:inline-block;
    padding: 70px;
}
.meet img {
    border-radius: 20px;
    height: 250px;
}
.meet h3 {
    color: #fff;
    font-size: 30px;
    padding: 20px;
}
.meet h4 {
    color: #fff;
    font-size: 20px;
    line-height: 1.5;
}
.meet input {
    width: 70%;
    background-color: #fff;
    color: var(--main-color);
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #fff;
    height: 30px;
    margin-top  : 20px;
}
.about form input {
    border: none;
    border-bottom: 1px solid var(--main-color);
    background-color: var(--secondry-color);
    width: 20%;
    margin-left: 50px;
    height: 30px;
}

.about form .mm{
    padding-left: 100px;
    margin-left: 18%;
    
}

.about form .n {
    padding-left: 100px;
    margin-left: 10%;
}
.about form label{
    margin-left: 60px;
    color: var(--main-color);
    font-size: 20px;
}
.about .button {
    background-color: var(--main-color);
    color: #fff;
    width: 130px;
    border-radius: 20px;
    border: 1px solid var(--main-color);
    height: 40px;
    margin: 50px;
    font-size: 20px;
}
/* end contact page */

